<%= render "shared/header" %>
<div class = 'main'>
<h1 class='title'>あなたにおすすめ</h1>
<h1 class='title'>配信一覧</h1>
<% @lives.each do |live| %>
       <li class='list'>
        <%= link_to life_path(live.id) do %>
        <div class='live-img-content'>
          <%= image_tag live.samnail ,class: "live-img"  %> 
        </div>
        <div class='live-info'>
          <h3 class='live-name'>
            <%= live.title %>
          </h3>
          <div class='live-category'>
            <span><%= live.category.name %><br><%= live.atmosphere.name %></span>
          </div>
        </div>
        <% end %>
       </li>
<% end %>
<%= link_to(new_life_path, class: 'post-btn') do %>
<span class='post-btn-text'>投稿する</span>
<% end %>
</div>
<%= render "shared/footer" %>