<%= form_with model:@live, url:lives_path, local: true do |f| %>
  <div class="img-upload">
      <div class="weight-bold-text">
        投稿動画
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
  </div>
  <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
  <div class="weight-bold-text">
          カテゴリー
    <span class="indispensable">任意</span>
  </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "---"}, {class:"select-box", id:"item-category"}) %>
  <div class="weight-bold-text">
          雰囲気
    <span class="indispensable">任意</span>
  </div>
    <%= f.collection_select(:atmosphere, Category.all, :id, :name, {prompt: "---"}, {class:"select-box", id:"item-category"}) %>
    <div class="sell-btn-contents">
      <%= f.submit '出品する' ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

<% end %>